dataset/ClaimPredictionChallenge/test_set.zip
dataset/ClaimPredictionChallenge/train_set.zip
dataset/ClaimPredictionChallenge/kaggle_srm6_stormod.sas7bitm
dataset/ClaimPredictionChallenge/example_uncompressed_entry.csv
dataset/ClaimPredictionChallenge/example_compressed_entry.zip
dataset/ClaimPredictionChallenge/example_compressed_entry.csv.gz
xgb_sample.py
model_version/v1_初版.py
.gitignore
model_version/v2.1_index报错.py
model_version/v2.2_exact_索引.ipynb
model_version/v2_各类功能.ipynb
model_version/v5可并行_但sparse消耗大.ipynb
.gitignore
model_version/v4_并行问题解决_索引报错.ipynb
model_version/v3.1_仍然有并行超时.ipynb
model_version/v3_未使用numba并行.ipynb
model_version/v4.1可运行_但不同算法时间差.ipynb
